{# templates/registration/register.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <div style="display:flex;justify-content: center;align-items:center;height:800px;">
        <div style="padding:20px" class="glass">
        <br/>
        <h1 style="text-align:center;">Mise à jour du mot de passe</h1>
        <br/>
        <div style="display:flex;" class="row form-group">
            <div class="col-sm-5">
                <label for="First" class="form-label">Mot de passe</label>
            </div>
            <div class="col-sm-6">
                {{ form_widget(form.password.first) }}
            </div>
        </div>
        <br/>
        <div style="display:flex;justify-content:center;" class="row form-group">
            <div class="col-sm-5">
                <label for="Second" class="form-label">Répeter le mot de passe</label>
            </div>
            <div class="col-sm-6">
                {{ form_widget(form.password.second) }}
            </div>
        </div>
        <br/>
        <div style="display:flex;justify-content: center;">
            <button style="width: 150px;margin:0 auto;" class="btn btn-lg btn-primary" type="submit">Update</button>
        </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}