html{
    height: 100vh;
    background-repeat: no-repeat;
    background: hsla(35, 89%, 81%, 1);
    background: linear-gradient(315deg, hsla(35, 89%, 81%, 1) 0%, hsla(30, 39%, 21%, 1) 100%);
    background: -moz-linear-gradient(315deg, hsla(35, 89%, 81%, 1) 0%, hsla(30, 39%, 21%, 1) 100%);
    background: -webkit-linear-gradient(315deg, hsla(35, 89%, 81%, 1) 0%, hsla(30, 39%, 21%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FAD6A5", endColorstr="#4B3621", GradientType=1 );
}

body{
    background-color: transparent;
}

.lien:hover{
    background-color:#f1f2f4;
}

.offBarClass{
    height:100vh;
    display:none;
    border:grey 1px solid;
    width:100%;
    background-color:#fbfbfb;
}

.glass{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
/*backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);*/
border: 1px solid rgba(255, 255, 255, 0.3);
}

.modal-body p{
    word-wrap: break-word;
    word-break: break-all;
}

.tableau{
    overflow-x: auto;
    overscroll-behavior-x: contain;
    white-space: nowrap;
}

.margin15{
    margin-bottom: 15rem;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.grids{
    display:grid;
    grid-template-columns:repeat(5, 1fr);
    margin:0 auto;
    column-gap: 200px; 
    row-gap: 200px;
}

.usersRow{
    display:flex;
    flex-direction:row;
}

.usersRow:hover{
    background-color:#f1f2f5;
}

.hidden{
    display: none;
}

.divTicket{
    background-color:#ffffff;
     border:1px solid grey;
    border-radius:5%; 
     padding:2%;
     margin-bottom:1rem;
     -webkit-box-shadow: 9px 8px 5px 0px rgba(0,0,0,0.38);
     -moz-box-shadow: 9px 8px 5px 0px rgba(0,0,0,0.38);
     box-shadow: 9px 8px 5px 0px rgba(0,0,0,0.38);
}

.avatar{
    width: 30px;
    height: 30px;
    background-color:#ED2939;
    line-height:30px;
    text-align:center;
    color:white;
    margin-left: 0.3rem;
    border-radius: 50%;
}

.navbar-custom .navbar-brand,
.navbar-custom .container-fluid,
.navbar-custom .collapse,
.navbar-custom{
    background-color: #54442bff;
}

.navbar-custom .container-fluid{
    padding: 8px;
}

.navbar-custom{
    padding: 0px;
}

.navbar-brand{
    color:white;
}

.navbar-custom .nav-item .nav-link{
    color:white;
}

.btn-danger{
    background-color: #ED2939;
}

.btn-primary,.btn-succes{
    background-color: #434A1C;
    border-color:#434A1C;
}
.btn-primary:hover,.btn-succes,.btn-primary:focus, .btn-primary:active,.open{
    background-color: #5f6927;
    border-color:#5f6927;
}


@media only screen and (max-width: 768px) {
    .grids{
        display:grid;
        grid-template-columns:repeat(1, 1fr);
        margin:0 auto;
        column-gap: 20px; 
        row-gap: 20px;
    }
    .hidden{
        display: flex;
    }

    .dex{
        margin-top: 1rem;
    }

    .mcolumn{
        flex-direction: column;
    }

    .offBarClass{
        width:100vw;
    }

    .tableau{
        width: 100vh;
    }
} 
