{% extends 'base.html.twig' %}

{% block title %}New Colonne{% endblock %}

{% block body %}
    <h1>Create new Colonne</h1>

    {{ include('colonne/_form.html.twig') }}

    <a href="{{ path('app_colonne_index') }}">back to list</a>
{% endblock %}
